@import "tailwindcss";



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.flex-center {
  @apply flex justify-center items-center
}

.flex-col-center {
  @apply flex flex-col  items-center justify-center
}

.bor {
  @apply border border-white
}